/* 本服务自己的 css 样式. */

.bs-docs-header h1 {
    font-size: 50px;
}

.bs-docs-header p {
    font-size: 20px;
}

.breadcrumb {
    margin-bottom: 0px;
}

.breadcrumb a {
    color: #4A6782
}

#doc-iframe {
    width: 100%;
    height: calc(100vh - 50px);
}