/* 本服务自己的 css 样式. */

.bs-docs-header h1 {
    font-size: 50px;
}

.bs-docs-header p {
    font-size: 20px;
}

.breadcrumb {
    margin-bottom: 0px;
}

.breadcrumb a {
    color: #4A6782
}

#doc-iframe {
    width: 100%;
    height: calc(100vh - 50px);
}

.bs-docs-container h4 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bs-docs-container h5 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bs-docs-container blockquote {
    border-left: 5px solid #42b983;
    margin: 20px 0;
    padding: 1.2rem 0.8rem 1.2rem 0.8rem;
    font-size: 14px;
    color: #666;
    background-color: rgba(66, 185, 131, .1);
}